<div id="scanAgent" class="page-layout simple fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header small md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s20"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s20 separator"></md-icon>
                <span class="parent" translate="SCAN_AGENT.TITLE">Kennzahlen L&auml;ufe</span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

	<div layout="column">
		<md-content layout-padding>
    		<form id="Search" ng-submit="$event.preventDefault()">
    			<div layout="row" layout-align="start center" layout-sm="column">
    				<div layout="row" layout-align="start center" layout-sm="column">
						<div>Buchungsperiode von:</div>
						<month-picker label="" bind="vm.searchOptions.balancingFrom" maxDate="vm.searchOptions.balancingTill"></month-picker>
					</div>
					<div layout="row" layout-align="start center" layout-sm="column" layout-padding>
						<div>bis:</div>
						<month-picker day="last" label="" bind="vm.searchOptions.balancingTill" minDate="vm.searchOptions.balancingFrom"></month-picker>
					</div>
        		</div>

                <div layout="row" layout-align="start center" layout-sm="column">
                    <md-input-container flex="20">
                        <label>Buchungskreis</label>
                        <md-select ng-model="vm.searchOptions.companyCode">
                            <md-option></md-option>
                            <md-option ng-repeat="company in companyList" value="{{company.code}}"> {{company.name}} </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Typ</label>
                        <md-select ng-model="vm.searchOptions.mail">
                            <md-option></md-option>
                            <md-option value="REAL">REAL</md-option>
                            <md-option value="SIMULATION">SIMULATION</md-option>
                        </md-select>
      				</md-input-container>
					<md-input-container flex="20">
						<label>Status</label>
        				<md-select ng-model="vm.searchOptions.district">
	          				<md-option></md-option>
	          				<md-option value="STOPPED">gestoppt</md-option>
	          				<md-option value="COMPLETED">beendet</md-option>
	          				<md-option value="ABANDONED">verworfen</md-option>
        				</md-select>
      				</md-input-container>
      				<!--md-input-container flex="20">
	      				<label for="id">ID</label>
        				<md-select ng-model="vm.searchOptions.id">
	          				<md-option></md-option>
	          				<md-option ng-repeat="jobId in vm.jobIds" value="{{jobId}}"> {{jobId}} </md-option>
        				</md-select>
      				</md-input-container-->
      			</div>

      			<div layout layout="row">
        			<md-button type="submit" class="md-raised md-accent" id="submit" ng-click="vm.search()" layout layout-align="center end">Suchen</md-button>
      			</div>
   			</form>
  		</md-content>

		<md-content>
			<div class="alert alert-success" ng-hide="!vm.message" id="success-message" ng-bind="vm.message"></div>
			<div class="alert alert-danger"  ng-hide="!vm.error"   id="error-message"   ng-bind="vm.error"></div>
		</md-content>

        <md-content layout="column" flex ng-show="vm.filteredEntries.length">
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <span>Ergebnisse</span>
                    <!--md-button ng-click="hideCheckboxes = !hideCheckboxes">{{hideCheckboxes ? 'Enable Selection' : 'Disable Selection'}}</md-button-->
                </div>
            </md-toolbar>
            <md-table-container>
                <table md-table md-row-select="true" ng-model="vm.selected" md-progress="vm.promise"><!--multiple-->
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
                        <tr md-row>
                            <th md-column ng-repeat="column in vm.columns"
                                md-order-by="{{column.orderBy}}">{{column.name}}</th>
                        </tr>
                    </thead>
                    <tbody md-body><!-- | filter:searchOptions-->
                        <tr md-row md-select="scanagent" md-on-select="vm.log" md-on-deselect="vm.deselect" x-md-auto-select="true"
                            data-ng-repeat="scanagent in vm.filteredEntries | orderBy: vm.query.order | limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">
                            <td md-cell><a ui-sref="app.clearances.clearance({ clearanceId: scanagent.id })">{{scanagent.id}}</a></td>
                            <td md-cell>{{scanagent.username}}</td>
                            <td md-cell>{{scanagent.firstName}}</td>
                            <td md-cell>{{scanagent.mail}}</td>
                            <td md-cell>{{scanagent.phone}}</td>
                            <td md-cell>{{scanagent.streetNumber}}</td>
                            <td md-cell>{{vm.status[scanagent.district]}}</td>
                            <td md-cell>{{scanagent.clearanceStatus}}</td>
                            <td md-cell>{{scanagent.clearanceDate | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                            <td md-cell>{{scanagent.clearanceUser}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.filteredEntries.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
        </md-content>

        <md-content layout-padding ng-show="vm.filteredEntries.length">
            <div layout="column">
                <div layout="row">																						<!-- app.scrumboard.boards.board({id:board.id, uri:board.uri}) -->
                    <md-button type="submit" class="md-raised md-accent" id="examine"          translate="SCAN_AGENT.PROTOCOL_FILE_BUTTON"  ng-click="vm.examine(vm.selected[0].id)" ng-disabled="!(vm.selected.length === 1)">Protokoll anschauen</md-button>
                    <md-button type="submit" class="md-raised md-accent" id="analyseInputData" translate="SCAN_AGENT.INPUT_DATA_BUTTON"     ui-sref="app.clearances.clearance({ clearanceId: vm.selected[0].id, tabIndex:0 })" ng-disabled="!(vm.selected.length === 1)">Eingangsdaten Analyse</md-button>
                    <md-button type="submit" class="md-raised md-accent" id="showPis"          translate="SCAN_AGENT.PIS_OVERVIEW_BUTTON"   ui-sref="app.clearances.clearance({ clearanceId: vm.selected[0].id, tabIndex:1 })" ng-disabled="!(vm.selected.length === 1)">Kennzahlen &Uuml;bersicht</md-button>
                    <md-button type="submit" class="md-raised md-accent" id="pisStatistics"    translate="SCAN_AGENT.PIS_STATISTICS_BUTTON" ui-sref="app.clearances.clearance({ clearanceId: vm.selected[0].id, tabIndex:2 })" ng-disabled="!(vm.selected.length === 1)">Kennzahlen Statistik</md-button>
                    <md-button type="submit" class="md-raised md-accent" id="billEnginePis"    translate="SCAN_AGENT.BILLENGINE_PIS_BUTTON" ui-sref="app.clearances.clearance({ clearanceId: vm.selected[0].id, tabIndex:3 })" ng-disabled="!(vm.selected.length === 1)">BillEngine Kennzahlen</md-button>
                </div>
                <div layout="row"layout-padding>
				    <embed ng-if="!vm.protocolFileError" ng-src="{{vm.protocolFileContent}}" style="width:100%;height:500px;"></embed>
                    <div class="alert alert-danger" ng-if="vm.protocolFileError" id="protocol-file-error-message" ng-bind="vm.protocolFileError"></div>
                </div>
            </div>
        </md-content>
    </div>
</div>
