
<md-dialog class="chooser-operation-dialog w-320" aria-label="Schema Dental">
    <md-toolbar class="">
        <div class="md-toolbar-tools">
            <span class="title"> Zahn-Nr {{ vm.toothNumber }} </span>
            <span flex></span>
            <span flex></span>
            <md-button ng-click="vm.closeDialog()" aria-label="close">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <md-radio-group class="h-70" ng-model="vm.selectedOperation">

            <md-radio-button value="Veneer" ng-click="vm.selectOperation()">  
        	    <span class="m-20 h5">Veneer</span> 
            </md-radio-button>

            <md-radio-button value="Krone"  ng-click="vm.selectOperation()"> 
                <span class="m-20 h5">Krone</span>
            </md-radio-button>

            <md-radio-button value="Brucke" ng-click="vm.selectOperation()"> 
                <span class="m-20 h5">Brucke</span>
            </md-radio-button>

            <md-radio-button value="In-Onlay"  ng-click="vm.selectOperation()">  
                <span class="m-20 h5">In-Onlay</span>
            </md-radio-button>

            <md-radio-button value="Implantat"  ng-click="vm.selectOperation()"> 
                <span class="m-20 h5">Implantat</span> 
            </md-radio-button> 
        </md-radio-group>   
    </md-dialog-content> 

    <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.closeDialog()">
                    cancel
                </md-button>

                <div flex="33"></div>

                <md-button type="submit" ng-click="vm.closeDialog()">
                    ok
                </md-button> 

            </div> 
    </md-dialog-actions>
</md-dialog>
